<!DOCTYPE html>
<html lang="en" lang="en" xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="coupon">

    <a th:href="@{/coupon}">Coupon Details</a>

    <div th:if="${sessionBets.isEmpty()}"> No bets are placed so far</div>

    <div th:if="${!sessionBets.isEmpty()}">

        <table>

            <!--/*@thymesVar id="sessionBets" type="pl.coderslab.sport_book.model.betting.SingleBet"*/-->
            <tr th:each="bet: ${sessionBets}">
                <td th:text="|${bet.event.homeTeam.name} v|"></td>
                <td th:text="${bet.event.awayTeam.name}"></td>
                <td th:text="${bet.betPrice}"></td>

                <!--/*@thymesVar id="userBetOnResult" type="pl.coderslab.sport_book.model.betting.SingleBet"*/-->
                <td th:if="${bet.placedBet}==H" th:text="'Bet:Home 1'"></td>
                <td th:if="${bet.placedBet}==D" th:text="'Bet:Draw X'"></td>
                <td th:if="${bet.placedBet}==A" th:text="'Bet:Away 2'"></td>


                <td th:if="${bet.placedBet}==LT2_5" th:text="'Bet:Goals less 2.5'"></td>
                <td th:if="${bet.placedBet}==GT2_5" th:text="'Bet:Goals more 2.5'"></td>

                <td>
                    <form th:action="@{/delbet}" th:object="${bet}" method="post">
                        <input type="hidden" name="event" th:value="${bet.event.id}"/>
                        <input type="submit" th:value="x"/>
                    </form>
                </td>
            </tr>
        </table>

    </div>
    </div>


    </body>
</html>