<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Betting history </h1>


<div th:fragment="mybets">
    <div th:if="${coupons.isEmpty()}"> No coupons are available</div>
    <div th:if="${!coupons.isEmpty()}">

        <table>
            <thead>
            <tr>

                <th>Id</th>
                <th>Created</th>
                <th>Bet Value</th>
                <th>Expected Win</th>
                <th>Status</th>

            </tr>
            </thead>


            <tr th:each="item: ${coupons}">



                    <td th:text="${item.id}"></td>
                    <td th:text="${item.dateCreated}"></td>
                    <td th:text="${item.betValue}"></td>
                    <td th:text="${item.winValue}"></td>
                    <td th:if="${item.isWon}==false"> Active </td>
                    <td th:if="${item.isWon}==true"> Completed </td>

                    <td>
                        <form th:action="@{/coupondetails}" th:object="${item}" method="post">
                            <input type="hidden" name="id" th:value="${item.id}"/>
                            <input type="submit" value="Details">
                        </form>
                    </td>

            </tr>

        </table>
    </div>
</div>


</body>
</html>