<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h2>Fill in the form to register </h2>


<form th:action="@{/register}" th:object="${userDTO}" method="post"></br>

    <table>
        <tr>
            <td> First Name:</td>
            <td><input type="text" th:field="*{user.firstName}"></td>
        </tr>

        <tr>
            <td> Last Name:</td>
            <td><input type="text" th:field="*{user.lastName}"></td>
        </tr>

        <tr>
            <td> Username</td>
            <td><input type="text" th:field="*{user.username}"></td>
        </tr>

        <tr>
            <td> Password</td>
            <td><input type="password" th:field="*{user.password}"></td>
        </tr>

        <tr>
            <td> e-mail</td>
            <td><input type="email" th:field="*{user.mail}"></td>
        </tr>

        <tr>
            <td> Street </td>
            <td><input type="text" th:field="*{user.street}"></td>
        </tr>

        <tr>
            <td> City</td>
            <td><input type="text" th:field="*{user.city}"></td>
        </tr>

        <tr>
            <td> Zip code </td>
            <td><input type="text" th:field="*{user.zip}"></td>
        </tr>


        <tr>
            <td>Country</td>
            <td>
                <select th:field="*{user.country}">
                    <option value="0" >select country</option>
                    <option th:each="country : ${countries}" th:value="${country.id}"
                            th:text="${country.countryName}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td> Bank Account</td>
            <td><input type="text" th:field="*{wallet.bankAccount}"></td>
        </tr>


        <tr>
            <td>I confirm I am 18+</td>
            <td><input type="checkbox" th:field="*{user.isAdult}" th:value="${true}"/></td>
        </tr>

        <tr>
            <td>I agree to process my personal data</td>
            <td><input type="checkbox" th:field="*{user.dataProcessingAcknowledgement}" th:value="${true}"/></td>
        </tr>

    </table>

    <input type="submit" value="Register"/>

</form>


</body>
</html>